<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="homepage">
    <ul>
      <li><a href="/">List User</a></li>
      <li><a class="active" href="/create">Create User</a></li>
    </ul>
    <div class="home-form">
      <form action="/create-user" method="POST">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Your email..">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">
        <label for="cicy">City</label>
        <input type="text" id="city" name="city" placeholder="Your city..">
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
  <script>

  </script>
</body>

</html>